/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  --white: #fff;
  --red: #e40202;
  --bg1: #9A9A9A;
  --bg2: #F0EEED;
  --light: #F6F6F6;
  --green1: #688272;
  --green2: #5cb85c;
  --coal_black: #262626;
  --coal_black_light: #2f2f2f;
  --coal_black_lighter: #3b3b3b;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 20px;
}

.main-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--light);
}

.side-bar-customer {
    background-color: var(--white);
    width: 250px;
    border-radius: 10px;
    /* height: 100%; */
}

.customer-sidebar-list {
    list-style-type: none;
    padding: 0;
}

.customer-sidebar-list-item {
    padding: 15px 20px 15px 20px;
    color: var(--blk);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2px;
}

.customer-sidebar-list-item>a {
    text-decoration: none;
    color: var(--blk);
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-sidebar-list-item:hover {
    color: var(--light);
    background-color: var(--green1);
    cursor: pointer;
    border-radius: 10px;
}

.customer-sidebar-list-item:hover>a {
    color: var(--light);
}

.customer-sidebar-list-item.selected {
    color: var(--light);
    background-color: var(--green1);
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: 0 50px;
    padding: 10px;
}

.title {
    text-align: left;
    margin: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-detail {
    padding: 20px;
    font-style: italic;
    font-weight: 400;
    color: var(--green2);
    background-color: var(--light);
    text-align: center;
    border-radius: 10px;
    width: 60%;
    margin-top: 100px;
    margin-left: 100px;
}

.info-value {
    padding-bottom: 10px;
}

.info-label {
    font-weight: bold;
}

.highlight {
    color: var(--bg1);
}

/* -- manage my account -- */
.content {
    display: grid;
    grid-template-columns: 2fr 2fr; 
    gap: 20px;
}

.content-title {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile,
.address {
    padding: 20px;
    background-color: var(--bg2);
}

.address a {
    text-decoration: none;
    color: var(--green2);
}

.profile a {
    text-decoration: none;
    color: var(--green2);
}

/* .profile-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
} */

.subscribe-link-manage-account {
    display: block;
    margin-top: 30px;
    color: var(--green2);
    cursor: pointer;
    font-size: 12px;
}

/* .address-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
} */

.billing {
    padding-left: 20px;
    border-left: 1px solid var(--bg1);
}

.billing, .shipping {
    color: var(--bg1);
}


/* -- address book -- */
.new-address {
    text-align: right;
}

.add-address-link {
    text-decoration: none;
    color: var(--green2);
    border-bottom: none;
    font-size: 13px;
}

.highlight-plus {
    color: var(--red);
}

.content-addressbook {
    padding: 20px;
    background-color: var(--bg2);

    /* display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px; */
}

.address-box {
    border: 1px solid var(--bg1);
    padding: 20px;
    position: relative;
    transition: box-shadow 0.3s;
}

.additional-addressbook {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 10px;
}

.address-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.edit-option {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-option a {
    text-decoration: none;
    color: var(--green2);
    font-weight: bold;
}

.address-type, .additional-info {
    margin-top: 10px;
    padding: 5px;
    background-color: var(--green1);
    color: var(--white);
    text-align: center;
}

.additional-info {
    background-color: var(--bg1);
}

/* -- popup -- */
.popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.popup-content {
    background-color: var(--bg2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.buttons-popup {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons-popup:hover .cancel {
    background-color: var(--bg1);
}

.buttons-popup:hover .subscribe {
    background-color: var(--green1);
}

.cancel {
    background-color: var(--bg1);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe {
    background-color: var(--green1);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel:hover,
.subscribe:hover {
    background-color: var(--coal_black);
}

.popup-content p {
    margin-bottom: 10px;
}

.popup-content a {
    text-decoration: none;
    color: var(--green2);
}