/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header2-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: #6D9886;
  --first-color-alt: #D9CAB3;
  --title-color: #f6f6f6;
  --text-color: #212121;
  --body-color: #F6F6F6;
  --container-color: #212121;

  --primary: #6D9886;
  --secondary: #D9CAB3;
  --blk: #212121;
  --light: #F6F6F6;
  --webback : #ebf1f1;

  --danger: #DD4A48;
  --dangerlight: #F2B6A0;

  --pending: #FCEEBA;
  --processing: #D5E9C5;
  --completed: #C1E5ED;

  /*========== Font and typography ==========*/
  --body-font: 'Montserrat', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }


}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header2-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--blk);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header2-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  cursor: pointer;
  /* font-size: 24px; */
}

@media screen and (max-width: 767px) {
  .nav {
    justify-content: center;
  }
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 500;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/
  /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header2 */
.scroll-header2 {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }

  .nav__logo {
    display: none;
  }

  .nav__logo:first-child {
    /* font-size: 1.5rem; */
    display: block;
  }

  .nav__link:hover {
    color: var(--first-color);
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header2-height) + 1.5rem);
    /* 4.5rem */
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */
    /* Minimalist design, visible labels */
  }


  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blk);
}

/*  */
.navl-cont {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navl-cont:hover .nav__logo {
  color: var(--first-color);
}

/*  */
.sidebar {
  top: 10%;
  position: fixed;
  height: 88vh;
  overflow-y: auto;
  width: 300px;
  /* Adjust as needed */
  left: 1%;
  background-color: #fff;
  border-radius: 10px;
}

.sidebar__list {
  /* background-color: #ccc; */
  padding: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar__item {
  background-color: #ebf1f1;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  /* border-bottom: 1px solid #ccc; */
}

.sidebar__item:hover {
  background-color: var(--blk);
  color: #fff;
}

.sidebar__item_selected {
    background-color: var(--blk);
    color: #fff;
}

.side_title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary);
  text-align: center;
}

.sidebar-title-div {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*  */
.dash4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}



.card {
  background-color: #fff;
  padding: 10px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  object-fit: cover;
  border-radius: 10px;
}

/* .card:hover{
  background-color: var(--primary);
} */

.card-title {
  /* font-size: 1.5rem; */
  margin-bottom: 1rem;
}

.card p {
  /* font-size: 1.25rem; */
}

/*  */
.product_card {
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.card_cont {
  padding-bottom: 2rem;
  text-align: center;
  transition: 0.3s;
}

.card_cont img {
  margin-bottom: 1rem;
  max-width: 250px;
  margin: auto;
}

.card_name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--blk);
}

.card_price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blk);
}


.product_card:hover .card_btn {
  opacity: 1;
}

.card_cont {
  padding-bottom: 2rem;
  text-align: center;
  transition: 0.3s;
  position: relative;
}

.card_btn {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--blk);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  width: 100%;
  border-radius: 0 0 15px 15px;
}

/* .card_btn:hover {
  background-color: var(--primary);
} */

/* Styles for the hover effect */
.product_card::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ebf1f1;
  border-radius: 15px;
  transition: 0.3s;
  z-index: -1;
}

.product_card:hover::before {
  height: 80%;
}

.product_card:hover .card_cont {
  transform: translateY(-0.5rem);
}

/*  */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  color: var(--blk);
  opacity: 0;
}

.product_card:hover .swiper-button-prev,
.product_card:hover .swiper-button-next,
.product_card:hover .swiper-pagination {
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary);
}

/*  */



.searchbar {
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 95%;
  font-size: 18px;
  color: var(--blk);
}

.searchbar:focus {
  outline: none;
  border: 0.1rem solid var(--primary);
}

.cont2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dash-button {
  padding: 10px 20px;
  background-color: var(--blk);
  color: var(--light);
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  min-width: 400px;
}

.dash-button:hover {
  background-color: var(--primary);
  color: var(--light);
}

.products-section {
  padding-top: 7%;
  padding-left: 350px;
  padding-right: 50px;
}

.page-title {
  font-size: var(--h1-font-size);
  color: var(--blk);
  text-align: center;
  margin-bottom: 1rem;
}

/* home */
.products-section2
{
  padding-top: 3%;
  padding-left: 50px;
  padding-right: 50px;
}